<?xml version="1.0"?>
<configuration>
<configSections>
</configSections>
<connectionStrings>
    <add name="Login.Properties.Settings.canteenConnectionString"
        connectionString="server=localhost;user id=root;persistsecurityinfo=True;database=canteen"
        providerName="MySql.Data.MySqlClient" />
</connectionStrings>
<startup useLegacyV2RuntimeActivationPolicy="true"> <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
